@{
    ViewBag.Title = "Destinacije";
}
@using AppZaOdmor.Models.Classes
<html>
<head>
    <style>

        #look {
            width: 100%;
            position: center;
            background-color: #409c78;
        }

            #look tr:hover {
                background-color: seagreen;
            }

        #body {
            background-image: url("/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body id="body">

    <table id="look" class="table table-bordered">
        <tr>
            <th>Smestaj</th>
            <th>Naziv</th>
            <th>Tip Aranzmana</th>
            <th>Tip prevoza</th>
            <th>Lokacija</th>
            <th>Datum pocetka</th>
            <th>Datum povratka</th>
            <th>Mesto nalazenja</th>
            <th>Vreme nalazenja</th>
            <th>Maksimalan broj putnika</th>
            <th>Opis</th>
            <th>Program</th>
            <th>Poster</th>



        </tr>
        @foreach (Aranzman a in Model)
        {
            if (a.Obrisan == false && DateTime.Parse(a.DatumPocetka) > DateTime.Now)
            {
        <tr>
            <td>
                <form method="post" action="~/Home/Smestaj">
                    <input type="text" name="id" value="@a.Id" hidden />
                    <input type="submit" value="Smestaj" />
                </form>
            </td>
            <td>@a.Naziv</td>
            <td>@a.TipAranzmana</td>
            <td>@a.TipPrevoza</td>
            <td>@a.LokacijaPutovanja</td>
            <td>@a.DatumPocetka</td>
            <td>@a.DatumZavrsetka</td>
            <td>@a.MestoNalazenja.Adresa.UlicaIBroj, @a.MestoNalazenja.Adresa.Mesto, @a.MestoNalazenja.Adresa.PostanskiBroj, @a.MestoNalazenja.GeografskaSirina, @a.MestoNalazenja.GeografskaDuzina</td>
            <td>@a.VremeNalazenja</td>
            <td>@a.MaxBrPutnika</td>
            <td>@a.OpisAranzmana</td>
            <td>@a.ProgramPutovanja</td>
            <td><img src="~/Images/@a.Slika" style="height:100px;width:100px" /></td>


        </tr>
            }

        }
    </table>



</body>
</html>
